<div
  (drop)="onDrop($event)"
  (dragover)="onDragOver($event)"
  (dragenter)="dragHover = true"
  (dragleave)="dragHover = false"
>
  <div
    class="col-12"
    [ngClass]="{
      'p-5 text-center border rounded border-dotted-2 bg-drag': drageable,
      'is-active': dragHover
    }"
  >
    <div [ngClass]="{ 'file-upload': !drageable }" (click)="clickFile()">
      <div class="row" *ngIf="textFileUpload == ''">
        <div class="col-12">
          <mat-icon
            aria-hidden="false"
            >cloud_upload</mat-icon
          >
        </div>
        <div class="col-12">
          Subir Arcivo
        </div>
      </div>
      <div class="text-truncate" *ngIf="textFileUpload != ''">
        {{ textFileUpload }}
      </div>
    </div>
    <input
      [attr.id]="nameFile"
      type="file"
      class="form-control-file"
      [attr.accept]="acceptExtensions"
      (change)="fileEvent($event)"
    />
  </div>

  <div class="col-12">
    <div class="progress top-form" *ngIf="progressBar != '0%'">
      <div
        class="bginfo progress-bar progress-bar-striped progress-bar-animated"
        [ngStyle]="{ width: progressBar }"
      >
        {{ progressBar }}
      </div>
    </div>
  </div>
</div>
