<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <layout-header (toggleEmit)="emitAction($event)" [medyaQueryParent]="mobileQuery"></layout-header>
  <mat-sidenav-container
    class="example-sidenav-container"
    [style.marginTop.px]="mobileQuery.matches ? 56 : 0"
  >
    <mat-sidenav
      #sidenav
      [mode]="mobileQuery.matches ? 'over' : 'side'"
      [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56"
      (click)="sidenav.toggle()"
    >
      <layout-nav-menu></layout-nav-menu>
    </mat-sidenav>
    <mat-sidenav-content>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
